<a href="https://colab.research.google.com/github/cleitoncarillo/Lojas_Bermudas/blob/main/Lojas_Bermudas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Desafio:**

Certa empresa de Bermudas possui 5 lojas e está querendo aumentar as vendas. Desta forma, fazendo uso da base de vendas, o que ela deve fazer para alcançar tal objetivo?

In [1]:
import pandas as pd

In [2]:
bermudas = pd.read_excel('/content/drive/MyDrive/data_scientist/VendasBermudas.xlsx')
display(bermudas.head())

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155
2,2019-12-01,Norte Shopping,Bermuda,2,150,300
3,2019-12-01,Iguatemi Campinas,Bermuda Listrado,3,163,489
4,2019-12-01,Iguatemi Campinas,Bermuda Linho,3,195,585

In [3]:
display(bermudas.shape)
display(bermudas.info())
display(bermudas.describe())

(57, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data            57 non-null     datetime64[ns]
 1   ID Loja         57 non-null     object
 2   Produto         57 non-null     object
 3   Quantidade      57 non-null     int64
 4   Valor Unitário  57 non-null     int64
 5   Valor Final     57 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.8+ KB

None

       Quantidade  Valor Unitário   Valor Final
count   57.000000       57.000000     57.000000
mean     6.140351      164.210526    980.614035
std     17.577826       14.011139   2757.203926
min      1.000000      150.000000    150.000000
25%      1.000000      155.000000    163.000000
50%      2.000000      163.000000    310.000000
75%      4.000000      169.000000    600.000000
max    100.000000      195.000000  15700.000000

In [4]:
# De acordo com esta base de dados, qual foi o faturamento total da empresa?
faturamento_total = bermudas['Valor Final'].sum()
display(faturamento_total)

55895

In [5]:
# De acordo com esta base de dados, qual foi o faturamento por loja?
# Neste caso, será calculado a soma do faturamento em cada loja (groupby)
faturamento_Loja = bermudas[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
display(faturamento_Loja)

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

In [6]:
# De acordo com esta base de dados, qual foi o faturamento por produto?
faturamento_produto = bermudas[['ID Loja', 'Produto', 'Valor Final']].groupby(['ID Loja', 'Produto']).sum()
display(faturamento_produto)

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085

Ao analisar os dados da base de vendas, notamos que a loja situada no Iguatemi Campinas possui um faturamente bem acima das demais, com um valor final de 41.720,00 reais. Dando uma ênfase maior a esta loja, percebemos que um dos produtos está se sobressaindo em relação aos demais. Este produto é a bermuda lisa com faturamento final de 36.581,00 reais.
Provavelmente, este é um produto novo lançado apenas nesta loja, visto que nas outras quatro este tipo de bermuda não é comercializada. Visto isso, a solução mais fácil para esta empresa aumentar as vendas, é: testar esta bermuda lisa nas outras quatro lojas, pois este produto esta sendo responsável por uma porcentagem alta do faturamento.